<div class="row">
  <div class="col-md-12">
    <a href="http://www.synechron.com" target="_blank">
      <img class="logo-img" src="../../../../assets/images/synechron-white-background.png" alt="">
    </a>
   
    <!-- <div class="icon-search" >
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>  Search
      </div> -->
      <div class="icon-help">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </div>
      <div class="icon-help login">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> Manager
        </div>
    
  </div>
</div>