@import '../../../../styles';

:host {
    @extend .block-code;
    height: 50px;
    position: fixed;
    background-color:#ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    padding: 10px 0 10px;
    z-index: 200;
   
    left: 0;
    top: 0;

    .half-block {
        @extend .block-code;
        width: 50%;
        float:left;
        padding: 0 20px;
    }

    .src-container {
        .lng-text{
            padding: 5px ;
            font-size: 14px;
            color: #fff;
            text-align: left;
            font-family: "Carnas-Medium";
            line-height: 19.6px;
            font-weight: bold;
            width: 54px;
        }
        .globe {
            width: 25px;
            height: 25px;
            float: left;
        }
    }
}
.logo-img{
    height: 55px;
    padding-left: 15px;
    margin-top: -12px;
}
.icon-search{
    float:left;
    color:rgb(175, 166, 166);
    padding: 8px 10px;
    font-size: 15px;
}
.icon-help{
    float:right;
    color:#4f32b6;
    padding: 8px 10px;
    font-size: 15px;
}
.login{
    padding: 8px 10px;
}