.h-btn {
    width: 12em;
    padding: 0.61em;
    border-radius: 0;
    font-size: 0.75rem;
}
.h-text {
    color: #333742;
    font-size: 1.125rem;
    font-weight: bold;    
}
.n-p-btn {
    background-color: #5991e7;
}

.n-c-btn {
    background-color: #4574bd;
}

.n-c-img {
    float: left;
    padding-top: 10px;
    margin-left: 0.5em;
}