<div class="d-inline-flex w-100  mh-100">
  <section class="w-25 border"  style="overflow-y: auto;">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Search by Tags" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="list-group w-100" >
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">List group item heading</h6>
          <small>Wed 5/8</small>
        </div>
        <p class="mb-1 text-truncate">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.</p>
        <p class="mb-1 text-truncate">Donec id elit non mi porta.</p>
      </a>
    </div>
  </section>
  <section class="w-75 border mh-100"> Email Listing </section>
</div>