<div class="d-inline-flex w-100  h-100">
  <section class="w-25 border">
    <div class="input-group p-3" style="height: 4em;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control form-control-sm" placeholder="Search by Tags" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="list-group w-100" style="overflow-y: auto; height: calc(100% - 4.6em);font-size: smaller;">
      <div *ngFor="let echain of emailList">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-0">
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1 font-weight-bold text-truncate" style="font-size: small; width: 90%;">
              {{ echain[defaultSelIndex]?.to.join(" ; ") }}</span>
            <span *ngIf="hasAttachment(echain)"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1 font-weight-bold text-truncate w-75" style="font-size: smaller;">
              {{ echain[defaultSelIndex]?.subj }}</span>
            <small>{{ echain[defaultSelIndex]?.date | date:'EEE dd/M' }}</small>
          </div>
          <p class="mb-1 text-truncate text-secondary" style="font-size: smaller;">{{ echain[defaultSelIndex]?.body }}
          </p>
        </a>
      </div>
    </div>
  </section>
  <section class="w-75 border mh-100 pt-2 pl-4 pr-4">
    <div class="w-100">
      <h4>{{ this.selectedEmailChain[0]?.subj }}</h4>
    </div>
    <div class="email-section mt-4">
      <section class="email-header d-inline-flex w-100">
        <span class="d-flex" style="width: 5%;    align-items: center;">
          <i class="fa fa-user-circle fa-2x"></i>
        </span>
        <span class="" style="width: 95%;">
          <section class="w-100" style="font-size: small;"> {{ this.selectedEmailChain[0]?.from }}</section>
          <section class="w-100" style="font-size: smaller;"> {{ this.selectedEmailChain[0]?.date | date:'EEE dd/M, H:mm a' }}</section>
          <section class="w-100" style="font-size: smaller;"> {{ this.selectedEmailChain[0]?.to.join(' ; ') }}</section>
        </span>
      </section>
      <section class="attachment d-flex mt-4 pl-5 w-100" style="font-size: x-small; overflow-x: auto">
        <span *ngFor="let item of list" class="mr-4">
            <p class="m-0"><a href="">Lorem Ipsum_01.pdf</a></p>
            <p class="text-secondary">312 KB</p>
        </span>
      </section>
    </div>
  </section>
</div>