<div class="side-panel">
    <div class="status-panel pd-1">
        <div class="total-proposal-count">{{proposalData?.totalAvailableProposals}}</div>
        <div class="total-txt">Total Available</div>
        <div class="pro-txt">Proposal</div>
        <div class="line-bar-container" *ngIf="displayLineChart && lineChartData && lineChartOptions">
            <p-chart type="horizontalBar" width="100%" height="20" [data]="lineChartData" [options]="lineChartOptions"
                [responsive]="true">
            </p-chart>
        </div>
        <div>
            <div *ngFor="let proItem of proposalData?.statusCounts;index as i;" class="pro-count-box">
                <hr [style.backgroundColor]="proItem?.backgroundColor" align="left">
                <div class="pro-count">{{proItem?.count}}</div>
                <div class="pro-name">{{proItem?.label}}</div>
            </div>
        </div>
    </div>
    <div class="bu-panel pd-1">
        <div>
            <div class="bu-title">BU wise Proposals</div>
            <p-chart type="horizontalBar" [data]="barChartData" [options]="barChartOptions" [responsive]="true"
                height="180" *ngIf="displayLineChart && barChartData && barChartOptions"></p-chart>
        </div>
    </div>

</div>

<div class="right-panel">
    <div class="filter-data row mr-0">
        <div class="col-md-1 apply-ft pd-l-0">Apply Filter</div>
        <div class="col-md-2 pd-0 mr-r-1">
            <span class="ft-label">Client</span>
            <p-dropdown [options]="clientListOptions" [(ngModel)]="searchCriteria.clientName"></p-dropdown>
        </div>
        <div class="col-md-2 pd-0 mr-r-1">
            <span class="ft-label">Region</span>
            <p-dropdown [options]="regionListOptions" [(ngModel)]="searchCriteria.region"></p-dropdown>
        </div>
        <div class="col-md-2 pd-0 mr-r-1">
            <span class="ft-label">Status</span>
            <p-dropdown [options]="statusListOptions" [(ngModel)]="searchCriteria.status"></p-dropdown>
        </div>
        <div class="col-md-2 pd-0 mr-r-1">
            <span class="ft-label">Date Range (Start - End Date)</span>
            <p-calendar [(ngModel)]="searchCriteria.rangeDates" selectionMode="range" [readonlyInput]="true">
            </p-calendar>
        </div>
        <div class="col-md-2 pd-0 mr-r-1">
            <button class="btn btn-primary search-btn" (click)="onSearch($event)">Search</button>
        </div>

    </div>
    <div class="scroll-container">
        <div class="card-container clearfix">
            <app-proposal-card *ngFor="let card of displayProposalList;index as i;" [cardIndex]="i" [card]="card"
                (edit)="onEdit($event)" (add)="onAdd($event)" (viewCollaterals)="onViewCollaterals($event)">
            </app-proposal-card>
        </div>
        <p-paginator *ngIf="totalRecords > displayRecordSize" #paginator [rows]="displayRecordSize" [totalRecords]="totalRecords"
            (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>