.filter-item{
    float: left;
    width: auto;
}
.total-proposal-count{
    font-size: 2.25rem;
    color: #ffffff;
    font-weight: 200;
    font-family: Carnas-ExtraLight !important;
}
.total-txt{
    font-size:0.75rem;
    color:#a1aed1;
    font-family: Carnas-Light !important;
    font-weight: 300;
}
.pro-txt{
    font-size:0.75rem;
    color:#a1aed1;
    font-family: Carnas-Medium !important;
    font-weight: 500;
}
.line-bar-container{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.pro-count-box{
    padding: 0.5em 0;
}
.pro-count{
    font-size:1.625rem;
    color:#ffffff;
    font-family: Carnas-ExtraLight;
    font-weight: 200;
}
.pro-name{
    font-size:0.625rem;
    color:#a1aed1;
    font-family: Carnas-Regular;
}
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-width: 4px;
    border-radius: 2px;
    width: 22px;
    margin-top: 0;
    margin-bottom: -2px;
}
.bu-panel {
    background-color: #3b4357;
}
.bu-title{
    font-family: Carnas-Medium;
    font-size: 1.0625rem;
    font-weight: 500;
    color: #a1aed1;
}
.ft-label{
    font-family: 'Carnas-Light';
    font-size:0.625rem;
    font-weight: 300;
    color: #4a4a4a;
    display: block;
}
.apply-ft{
  font-family: 'Carnas-Regular';
  font-size: 0.9375rem;
  color: #515e6b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 7%;
}

.search-btn{
    text-align: center;
    font-size: 1rem;
    font-family: 'Carnas-Regular';
    border-radius: 3px;
    background-color: #4a90e2;
    vertical-align: middle;
    margin-top: 0.75em;
    width: 100%;
    color: #ffffff;
    padding: 0.05em;
}

.search-btn:hover{
    background-color: #4574bd;
    
}
.scroll-container{
    height: calc(100% - 3em);
    overflow-y: auto;
}
.card-container {
    min-height: 490px;
}

.wid-18{
    width: 18.5%;
}
.wid-15{
    width: 15%;
}
.calender-clear{
    position: absolute;
    right: 0.2em;
    top: 50%;
    font-size: 1em;
    height: 1em;
    margin-top: -.5em;
    cursor: pointer;
    color: #848484
}
.cal-container{
    position: relative;
}