<div class="container">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <div class="mail-box">
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Inbox</h3>
                <form action="#" class="pull-right position">
                    <div class="input-append">
                        <input type="text" class="sr-input" placeholder="Search Mail">
                        <button class="btn sr-btn" type="button"><i class="fa fa-search" style="color:#4f32b6"></i></button>
                    </div>
                </form>
            </div>
            <div class="inbox-body">
                <table class="table table-inbox table-hover">
                    <tbody>
                        <tr>
                            <td class="subject-head">Credit </td>
                            <td class="subject-head"> </td>
                            <td class="subject-head"></td>
                            <td class="subject-head"> </td>
                            <td class="subject-head"></td>
                            <td class="subject-head"></td>
                        </tr>
                        <tr>
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                            <td class="view-message dont-show">
                                <h5>Business credit reports</h5>
                            </td>
                            <td class="view-message">John</td>
                            <td class="view-message inbox-small-cells"></td>
                            <td class="view-message text-right">April 8</td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                            <td class="view-message dont-show">
                                <h5>Credit sales</h5>
                            </td>
                            <td class="view-message">Mittal</td>
                            <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                            <td class="view-message text-right">March 15</td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                            <td class="view-message dont-show">
                                <h5>Credit purchase entry in trading account</h5>
                            </td>
                            <td class="view-message">Smith</td>
                            <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                            <td class="view-message text-right">April 01</td>
                        </tr>
                        <tr>
                            <td class="subject-head">Debit </td>
                            <td class="subject-head"> </td>
                            <td class="subject-head"></td>
                            <td class="subject-head"> </td>
                            <td class="subject-head"></td>
                            <td class="subject-head"></td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                            <td class="view-message dont-show">
                                <h5>Debit sales revenue</h5>
                            </td>
                            <td class="view-message"> Mary</td>
                            <td class="view-message inbox-small-cells"></td>
                            <td class="view-message text-right">April 12</td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                            <td class="view-message dont-show">
                                <h5>Debit sales tax payable</h5>
                            </td>
                            <td class="view-message">Jordan</td>
                            <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                            <td class="view-message text-right">March 14</td>
                        </tr>
                        <tr>
                            <td class="subject-head">Cards </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                            <td class="view-message dont-show"><h5> Card Financing Overview</h5></td>
                            <td class="view-message">Brin</td>
                            <td class="view-message inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                            <td class="view-message text-right">Feb 19</td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                            <td class="view-message dont-show"><h5> Revolving Lines of Cards</h5></td>
                            <td class="view-message view-message">Larry</td>
                            <td class="view-message inbox-small-cells"></td>
                            <td class="view-message text-right">March 04</td>
                        </tr>
                        <tr class="">
                            <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>
                            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                            <td class="view-message dont-show"><h5>Card Assisted Loan Programs</h5></td>
                            <td class="view-message view-message">Jeff </td>
                            <td class="view-message inbox-small-cells"></td>
                            <td class="view-message text-right">Jan 13</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </aside>
    </div>
</div>