<div class="container">
       
    <div class="mail-box">
        <aside class="lg-side">
                <div class="col-md-12 search-bar">
                        <input type="text" placeholder="Search" style="margin-top:8px;" size="50" >
                       </div>
            
            <div class="inbox-body">
                <h5 data-toggle="collapse" data-target="#demo"><i class="fa fa-angle-down" aria-hidden="true"></i> Microsoft Azure</h5>
                <div id="demo" class="collapse">
                    <table class="table table-inbox table-hover">
                            <tbody>
                                
                                <tr>
                                    <td class="inbox-small-cells" >
                                            <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i> 
                                    </td>
                                    <td class="inbox-small-cells">Extend Azure on-premises with Azure Stack. <br>  Chaïma Kahoul </td>
                                     
                                    <td class="view-message dont-show">
                                           
                                    </td>
                                    <td class="view-message"></td>
                                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip" aria-hidden="true"></i> <span></span> <i class="fa fa-flag-o" aria-hidden="true" style="color:red"></i> <i class="fa fa-thumb-tack" aria-hidden="true"></i><br>4/4/2019</td>
                                    <td class="view-message text-right"></td>
                                </tr>
                                <tr>
                                        <td class="inbox-small-cells" >
                                                <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i>
                                        </td>
                                        <td class="inbox-small-cells">A consistent hybrid platform from the on-premises datacenter to the cloud<br>Emanuel Ardelean</td>
                                        <td class="view-message dont-show">
                                            
                                        </td>
                                        <td class="view-message"></td>
                                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip" aria-hidden="true"></i> <i class="fa fa-flag-o" aria-hidden="true" style="color:red"></i> <br>19/3/2019</td>
                                        <td class="view-message text-right"></td>
                                    </tr>
                                    <tr>
                                            <td class="inbox-small-cells" >
                                                    <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i>
                                            </td>
                                            <td class="inbox-small-cells">Delivering Marketing and offers targeted to specific customer needs<br>Marc Westgate</td>
                                            <td class="view-message dont-show">
                                                
                                            </td>
                                            <td class="view-message"></td>
                                            <td class="view-message inbox-small-cells"><i class="fa fa-paperclip" aria-hidden="true"></i> <i class="fa fa-flag-o" aria-hidden="true" style="color:red"></i> <br>1/3/2019</td>
                                            <td class="view-message text-right"></td>
                                        </tr>
                            </tbody>
                        </table>
                </div>
                <hr>
                <h5 data-toggle="collapse" data-target="#demo1"><i class="fa fa-angle-down" aria-hidden="true"></i> Data Science</h5>
                <div id="demo1" class="collapse">
                    <table class="table table-inbox table-hover">
                            <tbody>
                                
                                <tr>
                                    <td class="inbox-small-cells" >
                                            <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i>
                                    </td>
                                    <td class="inbox-small-cells">Detection and Prevention of fraud involving credit cards using Data science.<br>Dominique Vande</td>
                                    <td class="view-message dont-show">
                                        
                                    </td>
                                    <td class="view-message"></td>
                                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip" aria-hidden="true"></i> <i class="fa fa-flag-o" aria-hidden="true" style="color:red"></i> <i class="fa fa-thumb-tack" aria-hidden="true"></i><br>11/2/2019</td>
                                    <td class="view-message text-right"></td>
                                </tr>
                                <tr>
                                        <td class="inbox-small-cells" >
                                                <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i>
                                        </td>
                                        <td class="inbox-small-cells">Accounting, Insurance with help Of Alogorithms in machine Learning<br>George Parkes</td>
                                        <td class="view-message dont-show">
                                            
                                        </td>
                                        <td class="view-message"></td>
                                        <td class="view-message inbox-small-cells">19/2/2019</td>
                                        <td class="view-message text-right"></td>
                                    </tr>
                                
                            </tbody>
                        </table>
                </div>
                <hr>
                <h5 data-toggle="collapse" data-target="#demo2"><i class="fa fa-angle-down" aria-hidden="true"></i> Amazon Web Services</h5>
                <div id="demo2" class="collapse">
                    <table class="table table-inbox table-hover">
                            <tbody>
                                
                                <tr>
                                    <td class="inbox-small-cells" >
                                            <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i>
                                    </td>
                                    <td class="inbox-small-cells">Business solutions to elevate organization’s performance<br>Jovana Veselinovic</td>
                                    <td class="view-message dont-show">
                                        
                                    </td>
                                    <td class="view-message"></td>
                                    <td class="view-message inbox-small-cells"><i class="fa fa-paperclip" aria-hidden="true"></i> <i class="fa fa-flag-o" aria-hidden="true" style="color:red"></i><i class="fa fa-thumb-tack" aria-hidden="true"></i><br>11/4/2019</td>
                                    <td class="view-message text-right"></td>
                                </tr>
                                <tr>
                                        <td class="inbox-small-cells" >
                                                <i class="fa fa-envelope-open"  style="color:cornflowerblue"></i>
                                        </td>
                                        <td class="inbox-small-cells">AWS provides access to the largest ecosystem of consulting and technology <br>Matthijs van Schip</td>
                                        <td class="view-message dont-show">
                                            
                                        </td>
                                        <td class="view-message"></td>
                                        <td class="view-message inbox-small-cells"><i class="fa fa-paperclip" aria-hidden="true"></i> <br>28/2/2019</td>
                                        <td class="view-message text-right"></td>
                                    </tr>
                             
                            </tbody>
                        </table>
                </div>
               
            </div>
        </aside>
    </div>
</div>