.title{
    color:#a1aed1;
    padding-top: 1em;
    padding-left: 1em;
    font-family: Carnas-Medium;
    font-size: 1.0625rem;
}.search-box{    
    width: 100%;
    height: 2.625em;
    border: solid 1px #d5d0d0;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    color: #515e6b;
    padding: 1em;
}
.sme-txt{
    float: left;
    width: calc(100% - 12em);
    padding: 1em 2em;
}
.sme-tb{
    float: left;
    width: calc(100% - 12em);
    padding: 0 2em;
}
.doughnut-info {
    position: absolute;
    display: flex;
    text-align: center;
    color: white;
    width: 100%;
    height: 22vh;
    top: 0;
    align-items: center;
    justify-content: center;
}
.doughnut-container{
    position: relative;
}
.legends-container {
    height: 43vh;
}
.legends-title{
    font-size: 0.75rem;
    text-align: center;
    color: #a1aed1;
}
.sme-d-ic {
    width: 18px;
    height: 18px;
}
.sme-arch{
    font-size: 0.625rem;
    padding-left:12%;
    padding-right: 12%;
}
.sme-count{
    color: #ffffff;
    font-size: 2.25rem;
}
.sme -line {
    border-width: 4px;
    border-color: yellow;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.left-legend {
    width: 50%;
    float: left;
    margin-top: 0.5em;
}

.right-legend {
    width: 50%;
    float: left;
    margin-top: 0.5em;
}
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-width: 4px;
    border-radius: 5px;
    width: 22px;
    margin-top: 0;
    margin-bottom: 0;
}
.ch-bu-count{
    font-size: 1.625rem;
    color: #ffffff;
}
.ch-bu-text{
    font-size: 0.625rem;
    color: #a1aed1;
}
.legend-box-left{
    margin-left: 1em;
    padding: 0.5em ;
}
.legend-box-right{
    margin-right: 1em;
    padding: 0.5em ;
}

.legend-box-border{
    margin-left: 1em;
    margin-top: 1em;
}
.total-count{
    padding-left: 1.5em;
}
.total-count-name{
    font-size: 0.75rem;
    color: #a3acc6;
}
.hl{
    border-bottom: 1px solid #f2f2f24f;
}
.v1{
    border-right: 1px solid #f2f2f24f;
}
.sme-name{
    color: #333333;
}
.icon-color{
    color: #c3cede;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
    color: #515e6b;
    font-weight: 800;
}
.user-img{
    margin: 0.5em;
}
.sme-stats {
    background-color: #3b4357;
    padding: 6px 0px;
}

.userShortName{
    background-color: #6599e8;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 15px 0 0 0px;
    font-size: 32px;
    color: #ffffff;
    font-family: Carnas-Light;
}
.loc-count{
    font-size: 1.625rem;
    color: #ffffff;
    font-family: Carnas-ExtraLight;
    font-weight: 200;
}
.loc-count-box:nth-child(odd) {
    border-right: 1px solid #f2f2f24f;
}
.loc-lebal{
    font-size: 0.625rem;
    color: #a3acc6;
    font-family: Carnas-Regular;
}
.locaion-c{
    height: 285px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.loc-count-box {
    padding: 0.5em 1em;
    border-bottom: 1px solid #f2f2f24f;
    float: left;
    width: 49%;
    min-height: 81px;
}
.pd-10{
    padding: 10px;
}
