.checked {
    color:darkgoldenrod
  }

  #form{
     background-color:#ffffff;
     min-height:300px;
    
    
  }
  .heading{
  text-align: center;
  border-bottom-style: ridge;
  font-family: Agency FB;

}