 <div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
        
            <li class="active">
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">DASHBOARD</a>
            </li>
            <li>
                <a href="#proposalSubmenu" data-toggle="collapse" aria-expanded="false"
                     (click)="showProposalSubmenu=!showProposalSubmenu"><div><span >PROPOSALS</span><i *ngIf="!showProposalSubmenu" class="fa fa-angle-down ml-100"></i><i *ngIf="showProposalSubmenu" class="fa fa-angle-right ml-100"></i></div></a>
                <ul class="collapse list-unstyled" id="proposalSubmenu">
                    <li>
                         <a [routerLink]="['/newproposal']" routerLinkActive="router-link-active"><i class="fas fa-dot-circle mr-2"></i>NEW PROPOSALS</a>
                    </li>
                    <li>
                         <a [routerLink]="['/viewproposal']" routerLinkActive="router-link-active"><i class="fas fa-dot-circle mr-2"></i> LIST OF PROPOSALS</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#collateralSubmenu" data-toggle="collapse" aria-expanded="false"
                    (click)="showCollateralSubmenu=!showCollateralSubmenu"><div><span >COLLATERALS</span><i *ngIf="!showCollateralSubmenu" class="fa fa-angle-down ml-92"></i><i *ngIf="showCollateralSubmenu" class="fa fa-angle-right ml-92"></i></div></a>
                <ul class="collapse list-unstyled" id="collateralSubmenu">
                    <li>
                        <a [routerLink]="['/newcollateral']" routerLinkActive="router-link-active"><i class="fas fa-dot-circle mr-2"></i>  NEW COLLATERAL</a>
                    </li>
                    <li>
                        <a [routerLink]="['/viewcollateral']" routerLinkActive="router-link-active"><i class="fas fa-dot-circle mr-2"></i>  LIST OF COLLATERALS
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a [routerLink]="['/askme']" routerLinkActive="router-link-active">ASK ME</a>
            </li>
            <li>
                <a [routerLink]="['/smelist']" routerLinkActive="router-link-active">SME LIST</a>
            </li> 


      </ul>
    </nav>

</div>
 
