<div class="wrapper">
   <nav id="sidebar">
        <ul class="list-unstyled components">
               <li>
                 <a [routerLink]="['/']" routerLinkActive="router-link-active">DASHBOARD</a>
            </li>
            <li>
                <a [routerLink]="['/newproposal']" routerLinkActive="router-link-active">NEW PROPOSAL</a>
            </li>
            <li>
                <a [routerLink]="['/viewproposal']" routerLinkActive="router-link-active">LIST OF PROPOSAL</a>
            </li>
            <li>
                <a [routerLink]="['/newcollateral']" routerLinkActive="router-link-active">NEW COLLATERAL</a>
            </li>
            <li>
                <a [routerLink]="['/viewcollateral']" routerLinkActive="router-link-active">LIST OF COLLATERAL </a>
            </li>
            <li>
                <a [routerLink]="['/']" routerLinkActive="router-link-active">ASK ME</a>
            </li>
            <li>
                <a [routerLink]="['/']" routerLinkActive="router-link-active">SME LIST</a>
            </li>
        </ul>
    </nav>

</div>