<div class="row">
    <div class="col-md-12 search-bar">
         <input type="text" placeholder="Search Tag" style="margin-top:8px; margin-left: 18px;" size="50" #tag (keyup.enter)="searchByTags(tag.value)">
        </div>
  
</div>
<!-- <div class="row pt-25" >
    <div class="col-md-12">
        <section class="file-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                   <th>Collateral Type</th>
                        <th>Document Name</th>
                        <th>Annotated</th>
                       <th>Related Documents</th> 
                    </tr>  </thead>
                <tbody>
                    <tr *ngFor="let collateral of collaterals ">
                        <td>{{collateral.collateralType}}</td>
                        <td>{{collateral.docName }}</td>
                        <td>{{collateral.annotated }}</td>
                        <td>
                            <div class="file-type btn btn-default upload-btn " input type="button"
                                (click)="displayFile(collateral.collateralId)">View Collateral</div>
                        </td>
                    </tr>
                </tbody>
             </table>
         </section>
        
        </div>
</div> -->
<div class="collateral-list-tb">
    <div class="row">
        <div class="col-md-12">
            <p-table [value]="collaterals" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Collateral Type</th>
                        <th>Document Name</th>
                        <th>Annotated</th>
                       <th>Related Documents</th> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let collateral>
                    <tr>
                        <td>{{collateral.collateralType}}</td>
                        <td>{{collateral.docName }}</td>
                        <td>{{collateral.annotated }}</td>
                        <td>
                           
                                <a href="displayFile(collateral.collateralId)">View Collateral</a>
                        </td>
            
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

