<div class="row">
    <div class="col-md-12 search-bar">
         <input type="text" placeholder="Search Tag" style="margin-top:8px; margin-left: 18px;" size="50" #tag (keyup.enter)="searchByTags(tag.value)">
        </div>
  
</div>
<div class="row pt-25" >
    <div class="col-md-12">
        <section class="file-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                   <th>Collateral Type</th>
                        <th>Document Name</th>
                        <th>Annotated</th>
                       <th>Related Documents</th> 
                    </tr>  </thead>
                <tbody>
                    <tr *ngFor="let collateral of collaterals ">
                        <td>{{collateral.collateralType}}</td>
                        <td>{{collateral.docName }}</td>
                        <td>{{collateral.annotated }}</td>
                        <td>
                            <div class="file-type btn btn-default upload-btn " input type="button"
                                (click)="displayFile(collateral.collateralId)">View Collateral</div>
                        </td>
                    </tr>
                </tbody>
             </table>
         </section>
        
        </div>
</div>
<div class="row">
    <div class="col-md-12">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
    </div>
    </div>

