<div class="row">
    <div class="col-md-12">
        <div class="topnav">
            <button class="download-btn"><i class="fa fa-download"></i> Download</button>
        </div>
    </div>
</div>
<div class="row mt-15" style="min-height:500px;">
    <div class="col-md-9">
        <iframe width="100%" height="100%" [srcdoc]="htmlCode"></iframe>
    </div>
    <div class="col-md-3">
        <app-tag-option-panel></app-tag-option-panel>
    </div>
</div>
<div class="row mt-15">
    <div class="col-md-12">
        <div class="topnav">

        </div>
    </div>
</div>