.tag-list > li {
       border-radius: 12px;
       margin: 5px;
       padding: 3px 7px;
       font-size: 0.75rem;
       font-weight: 300;
       color: #464953;
       font-family: Carnas-Light;
   }
.add-new-tag{
    font-family: Carnas-Medium;
    font-size: 1 rem;
    font-weight: 500;
    color: #464953;
}
.tx-box{
    width: 100%;
    height: 0%;
    margin-top: 0.5em;
    font-size: 0.625rem;
    font-weight: 300;
     color: #a4a4a4 !important;
    font-family: Carnas-Light;
    border-radius: 3px;
    border: solid 1px #d7d7d7;
    background-color: #ffffff;
}
.save-btn{
    border-radius: 3px;
    background-color: #4a90e2;
    font-family: Carnas-Medium;
    text-align: center;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 500;
}
.tags{
    margin-top: 2em;
    font-family: Carnas-Medium;
    font-size: 1rem;
    font-weight: 500;
    color: #464953;
}
.tag-c{
    margin-top: 1.5em;
}
