<p-dialog styleClass="view-collateral" [visible]="true" [modal]="true" [resizable]="false" [closable]="false"
  [draggable]="false" (onHide)="goBack()" appendTo="body">
  <p-header>

    <a role="button" tabindex="0" (click)="goBack()" class="close-btn pull-right">
      <img src="../../assets/images/close.svg">
    </a>


  </p-header>
  <div class="document-panel">
    <div class="doc-panel" [innerHTML]="htmlCode">
    </div>
  </div>
  <div class="tag-panel">
    <div>
      <div class="form-group">
        <span class="add-new-tag">Add New Tag</span>
        <input #newAnnotation (keyup.enter)="addAnnotation(newAnnotation.value); newAnnotation.value=''"
          (blur)="addAnnotation(newAnnotation.value); newAnnotation.value='' " class="form-control tx-box"
          placeholder="Type your tag here….">
      </div>
      <button type="button" class="btn btn-primary save-btn" (click)="saveTags()">SAVE</button>
    </div>
    <div class="tag-c">
      <span class="tags">TAGS</span>
      <ul class="tag-list list-inline" style="list-style-type:none;">
        <li *ngFor="let tag of tags" [ngStyle]="{'background-color': tag.bgColor}" class="list-inline-item">
          {{tag.tagsDescription}}
        </li>

      </ul>
    </div>
  </div>

</p-dialog>