<div class="card" style="min-height: 500px;">
  <div class="card-header" id="cardheader">
    Annotation
  </div>
  <div class="card-body">
    <div class="input-group">
      <div>
        <input #newAnnotation (keyup.enter)="addAnnotation(newAnnotation.value); newAnnotation.value=''"
          (blur)="addAnnotation(newAnnotation.value); newAnnotation.value='' " class="form-control"
          placeholder="Add Tags" style="width:100%">
        <div>
          <ul style="list-style-type:none; padding-left:0px">
            <li *ngFor="let tag of tags" [ngStyle]="{'background-color': tag.bgColor}" class="list-box-items">
              {{tag.tagsDescription}}
            </li>
          </ul>
        </div>
      </div>
      <span class="input-group-btn">
        <button class="btn add-tag-btn" (click)="saveTags()">Save</button>
      </span>
    </div>
  </div>
</div>