     <div class="card" style="min-height: 300px;">
        <div class="card-header" id="cardheader">
         New Annotation
        </div>
        <div class="card-body">
          <div class="dropdown" style="min-height: 100px">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%; background-color: white; color:black;">Select
            <span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" style="width:100%;">
              <li class="account"><a class="menu" href="#">Account</a></li>
              <li class="accountfeature"><a class="menu"href="#">AccountFeature</a></li>
              <li class="accountinformation"><a class="menu" href="#">AccountInformation</a></li>
              <li class="asset"><a class="menu" href="#">Asset</a></li>
              <li class="document"><a class="menu" href="#">Document</a></li>
              <li class="account"><a class="menu" href="#">Account</a></li>
              <li class="accountfeature "><a class="menu" href="#">AccountFeature</a></li>
              <li class="accountinformation"><a class="menu" href="#">AccountInformation</a></li>
              <li class="asset"><a class="menu" href="#">Asset</a></li>
              <li class="document"><a class="menu" href="#">Document</a></li>
              <li class="account"><a class="menu" href="#">Account</a></li>
              <li class="accountfeature "><a class="menu" href="#">AccountFeature</a></li>
              <li class="accountinformation"><a class="menu" href="#">AccountInformation</a></li>
              <li class="asset"><a class="menu" href="#">Asset</a></li>
              <li class="document"><a class="menu" href="#">Document</a></li>
      
           </ul>
          </div>
        </div>
        
       
      </div>

      <div class="card mt-15" style="min-height:150px;">
        <div class="card-header" id="cardheader">
        Concept type Cloud
        </div>
      
        </div>
        
       
    