.title{
    font-size: 1.625rem;
    font-weight: normal;
    color: #404040 !important;
    margin-left: 0.25em;
 
 }
 .tx-box{
    width: 100% !important;
    height: 100% !important;
    padding: 0.5em !important;
    border-radius: 3px;
    font-family: Carnas-Regular !important;
    font-size: 12px !important;
    color: #404040;
}
label {
    margin-bottom: 0.2rem;
    font-family: Carnas-Light;
    font-size: 10px;
    font-weight: 300;
    color: #4a4a4a;
}
.drop-down{
    border:none!important;
}
.bu-drop{
    padding: 0 !important;
}
.newproposal-container{
    padding: 0.75em;
}
.pr-btn{
    border-radius: 3px;
}
.coll-type{
    padding: 0;
    border: 0;
}