<h6 style="color:#616161">
    PROPOSAL VALUE
</h6>
<div class="value-tb">

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Stage</th>
        <th scope="col">Projects</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
    
      <tbody>
          <tr *ngFor="let proposal of ProposalsValue">
              <td>{{proposal.status}}</td>
              <td>{{proposal.countOfProposals}}</td>
              <td>{{proposal.totalCostOfProposals | currency:"CAD":"symbol-narrow"}}</td>
             </tr>
      </tbody>
   
  </table>

</div>