<div class="value-tb">
  <div class="heading-container">
    <div class="heading">Proposal Value</div>
  </div>
  <div class="table-container">
    <table class="table table-borderless val-tb">
      <thead>
        <tr class="sub-heading">
          <th scope="col">Stage</th>
          <th scope="col">Projects</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>

      <tbody>
        <tr *ngFor="let proposal of ProposalsValue">
          <td><span [ngStyle]="{'background-color': proposal?.color}">&nbsp;&nbsp;</span>&nbsp;{{proposal?.status}}</td>
          <td>{{proposal?.countOfProposals}}</td>
          <td>{{proposal?.totalCostOfProposals | currency:"CAD":"symbol-narrow"}}</td>
        </tr>
      </tbody>

    </table>
  </div>


</div>