<div>
    <div class="syne-logo">
      <img src="./../../assets/images/syne-logo.svg" alt="">
    </div>
    <a class="side-logo ds-pd-tp" routerLink="/dms/dashboard" routerLinkActive="active-nav">
      <div class="img ds-img"></div>
    </a>
    <a class="side-logo" routerLink="/dms/proposals" routerLinkActive="active-nav">
      <div class="img praposals-img"></div>
    </a>
    <a class="side-logo" routerLink="/dms/collaterals" routerLinkActive="active-nav">
      <div class="img collaterals-img"></div>
    </a>
    <a class="side-logo" routerLink="/dms/qa" routerLinkActive="active-nav">
      <div class="img qaf-img"></div>
    </a>
    <a class="side-logo" routerLink="/dms/sme" routerLinkActive="active-nav">
      <div class="img sme-img"></div>
    </a>
</div>
