
#form{
  background-color:white;
  min-height:500px;
  }
.heading{
  text-align: center;
  border-bottom-style: ridge;
  font-family: Agency FB;
  padding-bottom: 9px;
}
[hidden] {
  display: none !important;
}