<div class="char-dough">
    <div class="heading-container">
        <div class="heading">Proposal Stages</div>
        <span class="sub-heading">Showing stage of proposals</span>
    </div>
    <p-chart *ngIf="doughnutChartData" type="doughnut" width="300px" height="150px" [data]="doughnutChartData"
        [options]="options" [responsive]="true"></p-chart>
    <div class="spinner">
        <span *ngIf="!doughnutChartData"> <i class="fa fa-circle-o-notch fa-spin fa-3x"></i></span>
    </div>
</div>