<div class="row">
  <div class="col-md-3">
    <div class="card-counter primary " (click)="proposalCardClick('ALL')">
    <img class="logo-img" src="../../../../assets/images/package.svg" alt="">
      <span class="count-numbers">{{totalProposalCount}}</span>
      <span class="count-name">TOTAL PROPOSALS</span>
        
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter danger" (click)="proposalCardClick('COMPLETED')">
     <img class="logo-img" src="../../../../assets/images/trophy.svg" alt="">
      <span class="count-numbers">{{proposalCardsData.wonProposalCount}}</span>
      <span class="count-name">WON PROPOSALS</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter success" (click)="proposalCardClick('IN_PROGRESS')">
      <img class="logo-img" src="../../../../assets/images/hourglass.svg" alt="">
      <span class="count-numbers">{{proposalCardsData.inProgressProposalCount}}</span>
      <span class="count-name">IN PROGRESS PROPOSALS</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter info" (click)="proposalCardClick('REJECTED')">
     <img class="logo-img" src="../../../../assets/images/like.svg" alt="">
      <span class="count-numbers">{{proposalCardsData.lostProposalCount}}</span>
      <span class="count-name">LOST PROPOSALS</span>
    </div>
  </div>
</div>