<div class="row">
  <div class="col-md-3">
    <div class="card-counter primary " (click)="proposalCardClick('ALL')">
    <img class="logo-img" src="../../../../assets/images/package.svg" alt="">
      <span class="count-numbers">{{proposalCardsTotalCountData}}</span>
      <span class="count-name">Total Proposals</span>
        
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter danger" (click)="proposalCardClick('COMPLETED')">
     <img class="logo-img" src="../../../../assets/images/trophy.svg" alt="">
      <span class="count-numbers">{{proposalCardsDetails.wonProposalCount}}</span>
      <span class="count-name">Completed Proposals</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter success" (click)="proposalCardClick('IN_PROGRESS')">
      <img class="logo-img" src="../../../../assets/images/hourglass.svg" alt="">
      <span class="count-numbers">{{proposalCardsDetails.inProgressProposalCount}}</span>
      <span class="count-name">In-progress Proposals</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter info" (click)="proposalCardClick('REJECTED')">
     <img class="logo-img" src="../../../../assets/images/like.svg" alt="">
      <span class="count-numbers">{{proposalCardsDetails.lostProposalCount}}</span>
      <span class="count-name">Rejected Proposals</span>
    </div>
  </div>
</div>