<div class="side-panel pd-1">
  <div class="total-collaters-count">{{collateralData?.totalCount}}</div>
  <span class="total-txt">Total Uploaded <br>Collaterals</span>
  <div class="line-bar-container" *ngIf="displayLineChart">
    <p-chart type="horizontalBar" width="100%" height="20" [data]="data" [options]="options" [responsive]="true">
    </p-chart>
  </div>
  <div>
    <div *ngFor="let colItem of collateralData?.collateralCounts;index as i;" class="coll-count-box">
      <hr [style.backgroundColor]="colItem?.backgroundColor" align="left">
      <div class="coll-count">{{colItem?.count}}</div>
      <div class="coll-name">{{colItem?.label}}</div>
    </div>
  </div>

</div>
<div class="right-panel">
  <input class="search-box" type="text" placeholder="Search by Tag/Cloud / Big Data / Migration etc." />
  <div class="card-container">
      <app-collateral-card *ngFor="let card of displayCollateralList;index as i;" 
      [cardIndex]="i" 
      [card]="card"
      (delete)="onDelete($event)"
      (edit)="onEdit($event)"
      (view)="onView($event)"
      ></app-collateral-card>
  </div>
  <p-paginator [rows]="displayRecordSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
</div>