.dashboard-container{
    padding: 1em;
    height: 100%;
    overflow-y: auto;
}
.line-chart{
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    padding: 0 1em 0 0;
}
.line-chart-cnt{
    height: 100%;
    background-color: #ffffff;
}
.trending-tags{
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;  
    background-color: #ffffff;
    cursor: pointer;
}
.label{
    font-size: 20px;
    font-weight: 500;
    color: #565757;
    font-family:Carnas-Medium;
    padding-left: 1em;
}
.won-loss{ 
    width: 240px;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.proposal-by-account{
    width: 100%;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.collateral-status{
    background-color: #494e5e;
    width: 21%;
    height: 100%;
}
.col-status{
    font-family: Carnas;
    font-size: 15px;
    font-weight: 500;
    color: #dae2e9;
    font-family:Carnas-Medium;
    padding-top: 2em;
    padding-left: 1em;
}
.doughnut-comtainer{
    float: left;
    width: 78%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.tags-addition{
    border-radius: 6px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.tags-addition-label{
    font-size: 15px;
    font-weight: normal;
    font-family: Carnas-Regular;
    color: #6c7883;
    padding-left: 2em;
    padding-top: 1.5em;
}

.c-status{
    background-color: #494e5e;
    width: 175px;
    height: 120px;
    padding: 1em !important;
}
.col-count{
    font-size: 22px;
    color: #968d8d;
}
.col-type{
    font-family: Carnas-Regular;
    font-size: 10px;
    color: #968d8d;
    font-weight: 200;
}
.hl{
    border-bottom: 1px solid #e9eeee;
}
.vl{
    border-right: 1px solid #e9eeee;
    width: 90px;
    height: 90px;
    float: left;
    padding: 1em;
}
.total-proposals{
    padding-top: 1.5em;
    padding-left: 2em;
    font-size: 15px;
    font-weight: normal;
    color: #6c7883;
    font-style: Carnas-Regular;
}
.total-proposal-count{
    font-size: 71px;
    padding-left: 0.3em;
    color: #6c7883;
}
.uploaded-Collateral {
    font-size: 15px;
    font-weight: normal;
    font-family: Carnas-Regular;
    text-align: center;
    color: #6c7883;
  }
.total-col-count{
    font-size: 55px;
    text-align: center;
    color: #6c7883;
}
.d-container{
    position: relative;
    height: 100%
}
.t-con{
    position: absolute;
    display: flex;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    top: 0%;
    margin: auto;
    left: 0%;
    align-items: center;
    justify-content: center;
}

.pro-cont{
    padding-top: 0;
    padding-left: 0;
}
.tag-cont{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-width: 4px;
    border-radius: 2px;
    width: 22px;
    margin-top: 0;
    margin-bottom: -2px;
}

.t-con-wr{
    // margin: auto;
}
.annotad-collaterals-label{
    font-size: 15px;
    font-weight: normal;
    font-family: Carnas-Regular;
    color: #aab2bc;
    float: right;
    padding-right: 2em;
}
.annotad-collaterals-count{
    font-size: 64px;
    font-weight: 100;
    color: #6c7883;
    padding-left: 3em;
}
.total-annotated-collaterals-count{
    font-size: 28.5px;
    font-weight: normal;
    color: #7bc5f1;
    border: solid 1px #ebefef;
    padding: 0.5em 1em;
    margin-left: 1.5em;
}
.tag-increase{
    background-color: #7bc5f1;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
   font-family: Carnas-Regular;
    margin-top: 2.5em;
    padding: 1em;
}
.arrow-icon{
 font-size: 10px;
}