.dashboard-container{
    padding: 1em;
}
.line-chart{
    width: 879px;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.trending-tags{
    width: 371px;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.label{
    font-size: 20px;
    font-weight: 500;
    color: #565757;
    font-family:Carnas-Medium;
    padding-left: 1em;
}
.won-loss{ 
    width: 240px;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.proposal-by-account{
    width: 1007px;
    height: 220px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.collateral-status{
    width: 842.5px;
    height: 180px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.tags-addition{
    width: 406px;
    height: 180px;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 #eee9e9;
    background-color: #ffffff;
}
.tags-addition-label{
    font-size: 15px;
    font-weight: normal;
    font-style: Carnas-Regular;
    text-align: center;
    color: #6c7883;
    padding-left: 1em;
}