<div class="row">
    <div class="ui-g-12">
        <div class="ui-g-6 ds-hd-con">
            <div class="heading">Dashboard</div>
            <span class="sub-heading">Welcome Back, </span><span>{{user.firstName}} {{user.lastName}} </span>
        </div>
        <div class="ui-g-6 text-right">
            <div class="calendar">
                <!-- <img class="calendar-icon" src="../../../../assets/images/Calendar.svg" alt=""> -->
                <p-calendar [(ngModel)]="dateRange" (onSelect)="onDateSelect($event)" [showIcon]="true" selectionMode="range" dateFormat="dd M yy"></p-calendar>
            </div>
            <button class="btn btn-primary">Create New Proposal</button>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <app-proposal-card [proposalCardsData]="proposalCardsData"></app-proposal-card>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-chart-doughnut [doughtnutData]="doughtnutData"></app-chart-doughnut>
    </div>
    <div class="col-md-8">
        <app-chart-bar [barChartData]="barChartData" [totalProposals]="totalProposals"></app-chart-bar>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-proposal-value-table [proposalValueData]="proposalValueData"  ></app-proposal-value-table>
    </div>
    <div class="col-md-6">
        <app-tag-table></app-tag-table>
    </div>
</div>