<div class="dashboard-container">
        <div class="ui-g">
                <div class="ui-g-8 line-chart"><span class="label">Status of Proposals</span></div>
                <div class="ui-g-4 trending-tags ml-chart"><span class="label">Top Trending RFP Tags</span>
                        <angular-tag-cloud [config]="options" [data]="data"></angular-tag-cloud>
                </div>
        </div>
        <div class="ui-g pt-1">
                <div class="ui-g-2 won-loss"><span class="label">RFP Won & Lost</span></div>
                <div class="ui-g-10 proposal-by-account ml-chart"><span class="label">Proposals by Account</span></div>
        </div>
        <div class="ui-g pt-1">
                <div class="ui-g-8 collateral-status"><span class=""></span></div>
                <div class="ui-g-4 tags-addition ml-chart"><span class="tags-addition-label"># Tags Addition</span>
                </div>
        </div>

</div>