<div class="row">
    <div class="col-md-12">
        <div class="card welcome-card">
            <div class="card-body "><h5 style="color:#4f32b6">RFP DASHBOARD </h5> <h6>Welcome to Dashboard</h6> </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-proposal-card></app-proposal-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-chart-doughnut></app-chart-doughnut>
    </div>
    <div class="col-md-6">
      <app-chart-bar></app-chart-bar>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-proposal-value-table></app-proposal-value-table>
    </div>
    <div class="col-md-6">
     <app-tag-table></app-tag-table>
    </div>
</div>