

$header-background-color: rgba(73,73,73,0.9);
$btn-background-color: #f1d600;
$btn-color: #000000;

.block-code{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    position: relative;
    font: normal 12px arial;
}

html, body {
    @extend .block-code;
}
.pt-20{
  padding-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-15{
  margin-right: 15px;
}
.ml-73{
  margin-left: 73px;
}
.ml-90{
  margin-left: 90px;
}
.mr-0{
  margin-right: 0px;
}
.mr-2{
  margin-right: 2px;
}
.mr-98{
  margin-right: 98px;
}
.custom-button{
    width: 100px;
    background-color:rgba(73, 73, 73, 0.9) !important;
    color: white !important;
    padding:3px;
    
}
.mt-25{
  margin-top:25px;
}
.ml-5{
   margin-left:5px;
}
.ml-3{
  margin-left:3px;
}
.ml-10{
  margin-left:10px;
}
.ml-25 {
  padding-top: 25px;
}
.pt-25{
  padding-top: 25px;
}
.mt-15{
  margin-top: 15px;
}
.ml-150{
  margin-left:150px;
}
.ml-92{
  margin-left:92px;
}
.ml-30{
  margin-left:30px;
}
.ml-100{
  margin-left:100px;
}

.ui-fileupload-buttonbar {
  display: flex;
}
.ui-widget-header .ui-button{
color:gray;
}
.search-bar{
    background-color: gray; 
    height:40px;
    
}
.spinner{
  text-align: center;
  padding-top: 85px;
  color: #4f32b6;
}




