/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.inline-block{
    display: inline-block !important;
}

.pd-0{
    padding: 0;
}
.mr-0{
    margin: 0;
}
.app-container{
    background-color: #f2f2f2;
    margin-left: 2.5em;
}