@import './scss/_fonts';
html { height: 100%; }
body {
    height: 100%; 
    font-family: 'Carnas-Regular';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.inline-block{
    display: inline-block !important;
}

.pd-0{
    padding: 0!important;
}
.mr-0{
    margin: 0!important;
}
.mt-0{
    margin-top: 0.5em;
}

.pd-r-0{
    padding-right: 0!important;
}
.side-panel{
    width: 12em;
    background-color: #494e5e;
    height: 100%;
    float: left;
}
body .ui-table .ui-table-thead > tr > th {
    padding: 0.800em 0.857em;
    font-weight: 700;
    color: white !important;
    border: none !important;
    background-color: rgba(98, 102, 107, 0.62)!important;
}
body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: none !important;
}
body .ui-paginator {
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 0; 
    text-align: right;
    
}
body .ui-paginator {
    background-color: #f4f4f4;
    border: none !important;
    padding: 0;
}
.pt-1{
    padding-top: 1em;
}
.pt-0 {
    padding-top: 0px !important;
}