<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title text-center">Document Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="newFileForm" (ngSubmit)="onSubmit(newFileForm)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Client Name</label>
                                    <input type="text" formControlName="clientName" placeholder="Client Name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
                                    <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                                        <div *ngIf="f.clientName.errors.required">Client Name is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Document Name</label>
                                    <input type="text" formControlName="docName" placeholder="Document Name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.docName.errors }" />
                                    <div *ngIf="submitted && f.docName.errors" class="invalid-feedback">
                                        <div *ngIf="f.docName.errors.required">Document Name is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input type="date" formControlName="startDate" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
                                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                                        <div *ngIf="f.startDate.errors.required">Date is required</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <input type="date" formControlName="endDate" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
                                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                                        <div *ngIf="f.endDate.errors.required">Date is required</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Requirement</label>
                                    <input type="text" formControlName="requirement" placeholder="Requirement"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f. requirement.errors }" />
                                    <div *ngIf="submitted && f. requirement.errors" class="invalid-feedback">
                                        <div *ngIf="f. requirement.errors.required"> Requirement is required</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Region/BU </label>
                                    <input type="text" formControlName="region" placeholder="Region/BU"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
                                    <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                                        <div *ngIf="f.region.errors.required"> Region/BU is required</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Status</label>
                                    <input type="text" formControlName="status" placeholder="Status"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required"> Status is required</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="pt-25">
                                    <input type="file" name="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-25 text-right">
                                <button class="btn custom-button" [disabled]="!newFileForm.valid">Upload</button>
                                <button class="btn ml-10 custom-button" [disabled]="!newFileForm.valid">Save</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>