.tag-tb{
    padding: 5px 0px;
    min-height: 50px;
    background-color:#ffffff; 
    box-shadow: 0 5px 15px #ffffff;
    margin: 15px 0px;
    cursor: pointer;
}
.annotation-tag{
    background-color:#8b50c7; 
    color: #ffffff;
    font-size: 12px; 
    margin: 5px;
}