<h6 style="color:#616161">
        TOP TRENDING TAGS IN RFP
</h6>
<div class="tag-tb">
    <span class="badge badge-pill annotation-tag">Product Case Study</span>
    <span class="badge badge-pill annotation-tag">Data Security</span>
    <span class="badge badge-pill annotation-tag">Support</span>
    <span class="badge badge-pill annotation-tag">United Kingdom</span>
    <span class="badge badge-pill annotation-tag">Standard Report</span>
    <span class="badge badge-pill annotation-tag">Implementation</span>
    <span class="badge badge-pill annotation-tag">Custom Report</span>
    <span class="badge badge-pill annotation-tag">Product Case Study</span>
    <span class="badge badge-pill annotation-tag">Company Info</span>
    <span class="badge badge-pill annotation-tag">Data Security</span>
    <span class="badge badge-pill annotation-tag">Support</span>
    <span class="badge badge-pill annotation-tag">United Kingdom</span>
</div>